.dropDown {
  width: 50%;
  height: 29px;
  font-size: 14px;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgb(237, 237, 237);
  color: black;
}
.pro-heading {
  margin-top: 35px;
  margin-left: 550px;
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.2;
  font-family: CircularStdBook;
  font-weight: normal;
  color: rgb(94, 108, 132);
}
.ject-heading {
  color: rgb(23, 43, 77);
  margin-top: 7px;
  margin-left: 550px;
  font-family: CircularStdBook;
  padding: 6px 0px 15px;
  font-size: 25px;
  font-weight: 500;
}
#text {
  margin-left: 550px;
  color: rgb(94, 108, 132);
  font-family: CircularStdMedium;
  font-size: 14px;
}
.inputOne {
  margin-top: 0px;
  margin-left: 550px;
  width: 90%;
  border: none;
}
#block {
  width: 50%;
  height: 29px;
  margin-top: 0px;
  padding: 5px;
  margin-left: 0px;
  font-size: 14px;
  border: none;
  box-sizing: border-box;
  background-color: rgb(237, 237, 237);
  color: black;
}
#blocktwo {
  width: 50%;
  height: 150px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 5px;
  font-size: 14px;
  border: none;
  box-sizing: border-box;
  background-color: rgb(237, 237, 237);
  color: black;
}
#texttwo {
  margin-top: 0px;
  margin-left: 550px;
  color: rgb(94, 108, 132);
  font-size: 13px;
}
.pro-btn {
  background-color: rgb(9, 88, 205);
  color: rgb(255, 255, 255);
  margin-top: 25px;
  height: 30px;
  width: 10%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  overflow: visible;
}

.pro-btn:hover {
  background-color: rgb(11, 105, 245);
}