
.pro-head {
  margin-top: 25px;
  margin-left: 30px;
  font-size: 10px;
  font-family: CircularStdMedium;
  color: rgb(38, 41, 46);
}
.form-text {
  margin-top: 0px;
  margin-left: 30px;
  color: rgb(94, 108, 132);
  font-family: CircularStdMedium;
  font-size: 30px;
}
.inputs {
  height: 100%;
  width: 100%;
  margin-left: 300px;
  padding: 0px 0px;
  border-radius: 3px;
  border-color: rgb(237, 237, 237);
  color: rgb(237, 237, 237);
  font-family: CircularStdBook;
  font-weight: normal;
  font-size: 15px;
  cursor: text;
}
.dropdown {
  width: 90%;
  margin-top: 0px;
  margin-left: 30px;
  font-size: 14px;
  border: none;
  box-sizing: border-box;
  background: #f4f5f7;
  color: black;
  
}
.small {
  width: 90%;
  margin-left: 30px;
}
.textTwo {
  margin-top: 0px;
  margin-left: 30px;
  color: rgb(94, 108, 132);
  font-size: 13px;
}
#descriptionBox {
  margin-top: 0px;
  margin-left: 30px;
  width: 90%;
  outline: none;
  background: #f4f5f7;
  border: none;
}
.create-btn {
  background-color: rgb(0, 82, 204);
  color: rgb(255, 255, 255);
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 15px;
  height: 32px;
  width: 15%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  overflow: visible;
}

.cancel-btn {
  cursor: pointer;
  border: none;
  background: none;
  user-select: none;
  font-size: 16px;
  color: rgb(66, 82, 110);
  padding-left: 0px;
  margin-bottom: 15px;
  border-color: white;
  height: 27px;
  width: 80px;
  margin-left: 10px;
  background-color: white;
  opacity: 20px;
}
/* .inputOne {
  height: 100%;
  width: 100%;
  margin-left: 350px;
  padding: 0px 0px;
  border-radius: 3px;
  border-color: rgb(237, 237, 237);
  color: rgb(237, 237, 237);
  font-family: CircularStdBook;
  font-weight: normal;
  font-size: 15px;
  cursor: text;
} */