
.pro-head {
  margin-top: 10px;
  margin-left: 300px;
  font-size: 21px;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.2;
  font-family: CircularStdBook;
  font-weight: normal;
  color: rgb(38, 41, 46);
}
.form-text {
  display: block;
  padding-bottom: 5px;
  color: rgb(94, 108, 132);
  font-family: CircularStdMedium;
  /* margin-top: 0px; */
  /* margin-left: 300px; */
  font-weight: normal;
  font-size: 18px;
}
.inputs {
  height: 100%;
  width: 100%;
  margin-left: 300px;
  padding: 0px 0px;
  border-radius: 3px;
  border-color: rgb(237, 237, 237);
  color: rgb(237, 237, 237);
  font-family: CircularStdBook;
  font-weight: normal;
  font-size: 15px;
  cursor: text;
}
.dropdown {
  width: 50%;
  height: 29px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: rgb(237, 237, 237);
  color: black;
  margin-left: 300px;
}
.textTwo {
  margin-left: 300px;
  margin-top: 0px;
  color: rgb(94, 108, 132);
  font-size: 13px;
}
#descriptionBox {
  width: 50%;
  height: 150px;
  margin-left: -50px;
  background-color: rgb(237, 237, 237);
  border-color: rgb(238, 235, 235);
}
.create-btn {
  background-color: rgb(0, 82, 204);
  color: rgb(255, 255, 255);
  margin-top: 7px;
  height: 32px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  overflow: visible;
  margin-left: 300px;
}
.cancel-btn {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  user-select: none;
  font-size: 14.5px;
  color: rgb(66, 82, 110);
  padding-left: 0px;
  border-color: white;
  height: 27px;
  width: 80px;
  margin-left: 10px;
  background-color: white;
  opacity: 20px;
}
.inputOne {
  height: 100%;
  width: 100%;
  margin-left: 350px;
  padding: 0px 0px;
  border-radius: 3px;
  border-color: rgb(237, 237, 237);
  color: rgb(237, 237, 237);
  font-family: CircularStdBook;
  font-weight: normal;
  font-size: 15px;
  cursor: text;
}