*, *::after, *::before {
   box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid lightgrey;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 70%;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.title{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title2 {
  display: flex;
  padding-bottom: 5px;
  color: rgb(94, 108, 132);
  font-family: CircularStdMedium;
  font-weight: normal;
  font-size: 18px;
}
.textTwo {
  margin-top: 0px;
  color: rgb(94, 108, 132);
  font-size: 13px;
}
.dropdown {
  width: 50%;
  height: 29px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  margin-left: 0px;
}

#descriptionBox {
  width: 50%;
  height: 150px;
  margin-left: -50px;
  background-color: white;
  border-color: rgb(238, 235, 235);
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: 600;
}

.modal-header .close-button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

#overlay {
 position: fixed;
 opacity: 0;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0,0,0, .5);
 pointer-events:  none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}