.main-board {
  display: inline-block;
  border-radius: 2.5px;
  margin-left: 350px;
  margin-top: 25px;
  background-color: rgb(242, 242, 242);
  color: black;
  font-size: 16px;
  font-family: CircularStdBook;
  font-weight: normal;
 }

 .board-box {
  height: 475px;
  width: 250px;
  background-color: rgb(223, 223, 223);
  overflow-y: scroll;
  margin: 5px;
  margin-top: 9px;
  padding-top: 7px;
  padding-left: 7px;
  flex-direction: row;
  display: inline-block;
  border-radius: 3px;
  color: black;
  font-size: 16px;
  font-family: CircularStdBook;
  font-weight: normal;
}