.top-heading {
  margin-top: 20px;
  margin-left: 350px;
  color: black;
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.2;
  font-family: CircularStdBook;
  font-weight: normal;
 }
 .main-header {
  display: flex;
  justify-content: space-between;
 }
 .HEADING{
  margin-left: 350px;
  margin-top: 15px;
  color: darkblue
 }
 .repo-btn {
  color: rgb(66, 82, 110);
  border: none;
  margin-top: 30px;
  margin-right: 70px;
  background-color: rgb(242, 242, 242);
  font-size: 20px;
  height: 32px;
  cursor: pointer;
 }

 .search-box {
   margin-left: 350px;
   width: 30%;
   color: black;
 }

 #issue-btn {
     display: inline-block;
     margin: 7px;
     -webkit-box-align: center;
     align-items: center;
     -webkit-box-pack: center;
     justify-content: center;
     height: 32px;
     vertical-align: middle;
     line-height: 1;
     padding: 0px 12px;
     white-space: nowrap;
     border-radius: 3px;
     border-width: 0px;
     transition: all 0.1s ease 0s;
     appearance: none;
     cursor: pointer;
     user-select: none;
     font-size: 19px;
     background: rgb(255, 255, 255);
     color: rgb(66, 82, 110);
     font-family: CircularStdBook;
     font-weight: normal;
     
 }
 
  #update-btn {
    display: inline-block;
    margin: 7px;
     -webkit-box-align: center;
     align-items: center;
     -webkit-box-pack: center;
     justify-content: center;
     height: 32px;
     vertical-align: middle;
     line-height: 1;
     padding: 0px 12px;
     white-space: nowrap;
     border-radius: 3px;
     border-width: 0px;
     transition: all 0.1s ease 0s;
     appearance: none;
     cursor: pointer;
     user-select: none;
     font-size: 19px;
     background: rgb(255, 255, 255);
     color: rgb(66, 82, 110);
     font-family: CircularStdBook;
     font-weight: normal;
  }