.search-modal {
  padding: 15px;
}


.cross-btn {
  display: flex;
  margin-top: 10px;
  margin-left: 30px;
  display: flex;
  font-size: 30px;
  width: 20px;
  background-color: white;
  
}

.search-tag{
  margin-top: 30px;
  margin-left: 25px;
  color: rgb(94, 108, 132);
  font-family: CircularStdMedium;
  font-size: smaller;
}
#ekbek {
  border: none;
  border-radius: 7px;
  font-size: x-large;
  padding: 5px;
  width: 63%;
  height: 60px;
  margin-top: 10px;
  margin-left: 8px;
}

.search-icon{
  margin-top: 10px;
  margin-left: 25px;
  font-size:xx-large;
}

.tickets{
  color: rgb(23, 43, 77);
  font-family: CircularStdMedium;
  font-size: small;
  font-weight: normal;
  display: block;
  margin-left: 35px;
  margin-top: 3px;
}

.each-ticket {
  margin-top: 5px;
  width: 70%;
}

.each-ticket:hover {
  background-color: rgb(242, 242, 242)
}