/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @font-face {
  font-family: 'CircularStdBook';
  src: local('CircularStdBook'), url('./fonts/CircularStd-Book.otf') format('opentype');
  font-weight: normal;
} */